/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #9c4dcc; /* Morado claro */
    padding: 20px;
    color: white;
}

header .logo img {
    max-width: 50px;  /* Tamanho máximo del logo */
    height: auto;     /* Mantener la proporción */
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

h1, h2 {
    text-align: center;
}

section {
    padding: 50px 20px;
    text-align: center;
}

section#inicio {
    background-color: #c97df0; /* Morado suave */
    color: white;
}

section#servicios {
    background-color: #e3b3f1; /* Morado más suave */
}

.servicio {
    margin-bottom: 30px;
}

button {
    background-color: #9c4dcc; /* Morado claro */
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #7b2e9e; /* Morado más oscuro */
}

footer {
    background-color: #9c4dcc; /* Morado claro */
    color: white;
    padding: 10px;
    text-align: center;
}
